<div class="top-banner">
    <h2 class="top-zagolov w3-text-white"><b>{{ h2 }}</b>
        <hr class="hr">
    </h2>

    <br>
</div>

<style>
    .top-banner {
    {% load staticfiles %}
        background: #71c827 center url("{% static 'img/cont-page.png' %} ") no-repeat;
        {#background: #71c827 center url("../img/cont-page.png") no-repeat;#}
        background-size: cover;
        min-height: 300px;
    }

    .top-zagolov {
        padding-top: 200px;
        padding-left: 150px;
        padding-right: 150px;
        font-size: 2vw;
    }

</style>