<!--DOSTIJENIE-->
<div class="dostijenie">
    <div class="banner">
    </div>
    <div class="ss">
        <div class="w3-margin w3-center w3-text-white">
            <div class="w3-center w3-text-white zagolov w3-margin-bottom">
                <b class="w3-center">OUR <span class="w3-text-light-green">ACHIEVEMENT:</span></b>
            </div>
            <p>Our association has successfully passed the approval process, in accordance with the requirements of the
                NBKR and the Sharia advice on today is the only recognized body on the part of the regulator in the
                framework of the
                association's activities in the republic. And we are growing day by day!
            </p>
        </div>
        <div class="w3-row-padding">
            <div style="position: relative;">
                <div class="w3-third w3-text-white">
                    <div class="w3-margin w3-left dostijenie-text" style="width: 35%;">
                        <span><i class="fa fa-building"></i></span>
                    </div>
                    <div class="w3-margin w3-left">
                        <b class="w3-text-light-green sifra">48</b><br>
                        <b>companies</b>
                    </div>
                </div>

                <div class="w3-third w3-text-white">
                    <div class="w3-margin w3-left dostijenie-text" style="width: 35%;">
                        <span><i class="fa fa-users"></i></span>
                    </div>
                    <div class="w3-margin w3-left">
                        <b class="w3-text-light-green sifra">52</b><br>
                        <b>of members</b>
                    </div>
                </div>

                <div class="w3-third w3-text-white">
                    <div class="w3-margin w3-left dostijenie-text" style="width: 35%;">
                        <span><i class="fa fa-university"></i></span>
                    </div>
                    <div class="w3-margin w3-left">
                        <b class="w3-text-light-green sifra">28</b><br>
                        <b>of banks</b>
                    </div>
                </div>
            </div>

        </div>
        <div class="w3-center button">
            <button class="w3-button w3-text-white w3-light-green w3-hover-black w3-padding-large w3-round-xlarge w3-margin-left"
                    onclick="openOverlay('vstupit-modal')">
                Join now
            </button>
        </div>
    </div>

</div>