<div style="margin-top: 20%">
    <div class="w3-center zagolov w3-margin-bottom">
        <b class="w3-center">What gives membership in <span class="w3-text-light-green">IAPEF?</span></b>
    </div>


    <br>
    <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card-4 w3-margin w3-left w3-center w3-padding-24 w3-xxlarge"
                 style="width: 25%;height: auto;border-radius: 50%">
                <i class="fa fa-info"></i>
            </div>
            <div class="w3-margin w3-left" style="width: 55%">
                <h3>INFORMATION</h3>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card-4 w3-margin w3-left w3-center w3-padding-24 w3-xxlarge"
                 style="width: 25%;height: auto;border-radius: 50%">
                <i class="fa fa-handshake-o"></i>
            </div>
            <div class="w3-margin w3-left" style="width: 55%">
                <h3>INVESTMENTS</h3>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card-4 w3-margin w3-left w3-center w3-padding-24 w3-xxlarge"
                 style="width: 25%;height: auto;border-radius: 50%">
                <i class="fa fa-address-card"></i>
            </div>
            <div class="w3-margin w3-left" style="width: 55%">
                <h3>BUSINESS CONTACTS</h3>
            </div>
        </div>

    </div>
</div><br><br>
<div class="w3-center w3-margin top-nov">
    <a href="{% url 'en_podrobnee' %}">
        <button class="w3-button w3-text-white w3-black w3-hover-green w3-padding-large w3-round-xlarge w3-margin">
            Find out more
        </button>
    </a>
    <button class="w3-button w3-text-white w3-green w3-hover-black w3-padding-large w3-round-xlarge w3-margin"
            onclick="openOverlay('vstupit-modal')">
        Join now
    </button>
</div>
