{% extends 'base.html' %}
{% block content %}
    {% include 'generic/h2.html' %}
    <div class="w3-light-grey">

        <div class="w3-row w3-white w3-margin">
            <div class="w3-half">
                <p class="w3-bar-block ">
                    <button class="w3-bar-item zagolov-contact w3-white w3-hover-text-green">
                        <div class="w3-left"><i class="fa fa-home w3-green w3-padding-large "></i>
                        </div>
                        <div class=""><span class='w3-padding-large'><b>Эркиндик кочосу 26</b> </span>
                        </div>
                        <span class='w3-opacity w3-padding-large w3-large op-text'>Заходите с 9:00 до 18:00 </span>

                    </button>
                    <button class="w3-bar-item zagolov-contact w3-hover-text-green">
                        <div class="w3-left"><i class="fa fa-phone w3-green w3-padding-large "></i>
                        </div>
                        <div class=""><span class='w3-padding'> +996 777 875 960</span>
                        </div>
                        <span class='w3-opacity w3-padding-large w3-large op-text'>Звоните с 9:00 до 18:00 </span>


                    </button>
                    <button class="w3-bar-item zagolov-contact w3-white w3-hover-text-green">
                        <div class="w3-left">
                            <i class="fa fa-mail-bulk w3-green w3-padding-large "></i>
                        </div>
                        <div class="">
                            <span class='w3-padding'> iapef@mail.ru</span>
                        </div>


                    </button>
                </p>
            </div>
            <div class="w3-half">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d46788.97685807322!2d74.5979904!3d42.8662784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1569098192234!5m2!1sru!2skg"
                        width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>

        <div class="w3-white w3-margin">
            <br>
            <h2 class="w3-margin w3-hover-text-green"><b>Давайте сотрудничать!</b></h2>
            <hr class="hr">

            <br>
            <form action="" class="w3-container w3-card-4 w3-light-grey w3-text-light-green w3-margin">
                <h3 class="w3-center">Оставьте заявку и наши специалисты свяжутся с вами в самое ближайшее время!</h3>

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-mail-bulk"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" name="first" type="text" placeholder="Email">
                    </div>
                </div>

                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" name="last" type="text" placeholder="Телефон">
                    </div>
                </div>


                <button class="w3-button w3-right w3-round-xlarge w3-section w3-hover-black w3-green w3-padding">Отправить</button>

            </form>
        </div>
        <br><br><br>

    </div>
    <style>
        .top-zagolov {
            {#padding-top: 200px;#}
            {#padding-left: 150px;#}
            {#padding-right: 150px;#}
            font-size: 6vw;
        }

        .zagolov-contact {
            padding-left: 3vw !important;
            font-size: 2vw;
            padding-bottom: 30px !important;
        }

        .zagolov-contact i {
            padding: 2vw !important;
            font-size: 2vw;
        }

        @media screen and (max-width: 480px) {
            .zagolov-contact {
                padding-left: 3vw !important;
                font-size: 4vw;
            }

            .zagolov-contact i {
                padding: 2vw !important;
                font-size: 14vw;
            }
            .op-text {
                font-size: 3vw !important;
            }
        }
    </style>
{% endblock %}