
    <!--DOSTIJENIE-->
    <div class="dostijenie">
        <div class="banner">
        </div>
        <div class="ss">
            <div class="w3-margin w3-center w3-text-white">
                <div class="w3-center w3-text-white zagolov w3-margin-bottom">
                    <b class="w3-center">НАШИ <span class="w3-text-light-green">ДОСТИЖЕНИЕ:</span></b>
                </div>
                <p>Наша ассоциация главными своими задачами видит формирование положительного образа современного
                    предпринимателя, но это, в свою очередь достигается лишь тогда, когда бизнес ведется действительно
                    цивилизованно, с осознанием социальной ответственности.И мы растем изо дня в день!</p>
            </div>
            <div class="w3-row-padding">
                <div style="position: relative;">
                    <div class="w3-third w3-text-white">
                        <div class="w3-margin w3-left dostijenie-text" style="width: 35%;">
                            <span><i class="fas fa-building"></i></span>
                        </div>
                        <div class="w3-margin w3-left">
                            <b class="w3-text-light-green sifra">222</b><br>
                            <b>компаний</b>
                        </div>
                    </div>

                    <div class="w3-third w3-text-white">
                        <div class="w3-margin w3-left dostijenie-text" style="width: 35%;">
                            <span><i class="fas fa-users"></i></span>
                        </div>
                        <div class="w3-margin w3-left">
                            <b class="w3-text-light-green sifra">5000</b><br>
                            <b>человек</b>
                        </div>
                    </div>

                    <div class="w3-third w3-text-white">
                        <div class="w3-margin w3-left dostijenie-text" style="width: 35%;">
                            <span><i class="fas fa-university"></i></span>
                        </div>
                        <div class="w3-margin w3-left">
                            <b class="w3-text-light-green sifra">115</b><br>
                            <b>банков</b>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w3-center button">
                <button class="w3-button w3-text-white w3-light-green w3-hover-black w3-padding-large w3-round-xlarge w3-margin-left"
                        onclick="openOverlay('vstupit-modal')">
                    Вступить сейчась
                </button>
            </div>
        </div>

    </div>