<!--NOVOSTI-->
<div class="novosti">
    <div class="nov-content ">
        <div class="w3-center zagolov w3-white w3-padding">
            <b class="w3-center">НАШИ <span class="w3-text-green">НОВОСТИ</span></b>
        </div>
        <div class="w3-row-padding w3-margin-top w3-center"
             style="position:relative;box-sizing: border-box; content: '';">

            {% for cat in news %}

                <div class="w3-third ">
                    <div class="w3-card-4 w3-margin white">

                        <div class="test"
                             style="position: relative;overflow:hidden;background-image: url({{ cat.image.url }});
                                     min-height: 300px;
                                     background-position: center;
                                     background-size: cover;">

                        </div>
                        <div class="w3-margin novosti-content">
                            <a href="{{ cat.get_absolute_url }}" title="{{ cat.name }}">
                                <h3 class="w3-hover-text-green w3-left-align">
                                    <b>{{ cat.name|truncatechars:35 }}</b>
                                </h3></a>
                            <hr class="hr">
                            <div class="w3-left">
                                <i class="fa fa-clock-o w3-text-green w3-margin">
                                    <span class="w3-text-black">{{ cat.created|time }}</span>
                                </i>
                                <i class="w3-text-green fa fa-calendar w3-margin">
                                    <span class="w3-text-black">{{ cat.created|date:'y.m.d' }}</span>
                                </i>
                            </div>
                            <br><br>
                            <div class="w3-padding w3-left-align">
                                {{ cat.text|truncatechars:70 }}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
        <div class="w3-white w3-padding w3-right-align" style="margin-bottom: 2%; margin-top: 2%">
            <a href="{% url 'ru_category' %}" class="">
                <button class="w3-card w3-button w3-text-white w3-light-green w3-hover-black w3-padding-large w3-round-xlarge w3-margin-left">
                    Смотреть все
                </button>
            </a>
        </div>

        {#меропиятии#}
        <div class="w3-center zagolov w3-white w3-padding">
            <b class="w3-center">НАШИ <span class="w3-text-green">МЕРОПРИЯТИИ</span></b>
        </div>
        <div class="w3-row-padding w3-margin-top w3-center"
             style="position:relative;box-sizing: border-box; content: '';">

            {% for cat in merop %}

                <div class="w3-third ">
                    <div class="w3-card-4 w3-margin white">

                        <div class="test"
                             style="position: relative;overflow:hidden;background-image: url({{ cat.image.url }});
                                     min-height: 300px;
                                     background-position: center;
                                     background-size: cover;">

                        </div>
                        <div class="w3-margin novosti-content">
                            <a href="{{ cat.get_absolute_url }}" title="{{ cat.name }}">
                                <h3 class="w3-hover-text-green w3-left-align">
                                    <b>{{ cat.name|truncatechars:35 }}</b>
                                </h3></a>
                            <hr class="hr">
                            <div class="w3-left">
                                <i class="fa fa-clock-o w3-text-green w3-margin">
                                    <span class="w3-text-black">{{ cat.created|time }}</span>
                                </i>
                                <i class="w3-text-green fa fa-calendar w3-margin">
                                    <span class="w3-text-black">{{ cat.created|date:'y.m.d' }}</span>
                                </i>
                            </div>
                            <br><br>
                            <div class="w3-padding w3-left-align">
                                {{ cat.text|truncatechars:70 }}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
        <div class="w3-white w3-padding w3-right-align" style="margin-bottom: 2%; margin-top: 2%">
            <a href="{% url 'ru_anonsy' %}" class="">
                <button class="w3-card w3-button w3-text-white w3-light-green w3-hover-black w3-padding-large w3-round-xlarge w3-margin-left">
                    Смотреть все
                </button>
            </a>
        </div>


    </div>
</div>