<!--PROJECTS-->
<section class="about w3-padding" id="fund" style="background-size: 100% 100%; padding-bottom: 5%">

    <div class="ss">
        <div class="w3-padding-large w3-center w3-text-black">
            <div class="zagolov w3-padding">
                <b class="w3-center">НАШИ <span class="w3-text-light-green">ПРОЕКТЫ:</span></b>
            </div>
            <p>В представление и защиты интереса членов МАПЭФ, реализации и совершенствовании
                законодательства по Исламской экономике, финансов,
                банкинга и халал-индустрии на международном рынке
                взаимодействие с международными институтами (AAOIFI, CIBAFI, IFSB, OIS/SMIIC),
                мы создали следующие проекты...

            </p>
        </div>
    </div>
    <br>


    <div class="w3-container w3-xlarge w3-center w3-light-green w3-margin-bottom w3-text-green">.</div>
    <div class="slideshow-container">

        <div style="text-align:center">
            {% for foo in projects %}
                <span class="dot w3-hover-light-green" onclick="currentSlide({{ index }}, 'mySlides')"></span>
            {% endfor %}
        </div>
        <a class="prev w3-hover-light-green" onclick="plusSlides(-1, 'mySlides')">&#10094;</a>
        <a class="next w3-hover-light-green" onclick="plusSlides(1, 'mySlides')">&#10095;</a>
        {% for foo in projects %}

            <div class="mySlides">
                <div class="project-text">
                    <h3 class="w3-hover-text-green w3-justify">
                        <a href="{{ foo.get_absolute_url }}"
                           class="w3-hover-text-green"><b>{{ foo.name|truncatechars:35 }}</b></a>
                    </h3>
                    <hr class="hr">
                    <div class="w3-left">
                        <i class="fa fa-clock-o w3-text-green w3-margin">
                            <span class="w3-text-black">{{ foo.created|time }}</span>
                        </i>
                        <i class="w3-text-green fa fa-calendar w3-margin">
                            <span class="w3-text-black">{{ foo.created|date:"y.m.d" }}</span>
                        </i>
                    </div>
                    <br><br><br>
                    <div class="w3-margin-bottom">
                        <p>
                            {{ foo.text|truncatechars:400 }}
                        </p>
                    </div>
                    <br><br><br>
                    <div class="container-skill">
                        <div class="skills html w3-padding-top" style="width: {{ foo.protsent }}%;background-color: #71c827;">{{ foo.protsent }}%</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="w3-center" style="margin-bottom: 2%">
        <a href="{% url 'ru_projects' %}">
            <button class="w3-button w3-text-white w3-light-green w3-hover-black w3-padding-large w3-round-xlarge w3-margin-left">
                Смотреть все
            </button>
        </a>
    </div>
</section>

<div class="partner-slide">
    <div class="w3-bar project-text" style="width: 100%; height: 100%; ">

        <button class="w3-bar-item w3-button tablinks w3-hover-green" onclick="openCity(event, 'test')"
                id="defaultOpen">
            <h4>
                <b>
                    Наши партнеры
                </b>
            </h4>
        </button>
        <button class="w3-bar-item w3-button tablinks w3-hover-green" onclick="openCity(event, 'test1')"
                id="defaultOpen">
            <h4>
                <b>
                    Наши члены
                </b>
            </h4>
        </button>
        <script>
            document.getElementById("defaultOpen").click();
        </script>
    </div>

    <div id="test" class="slideshow-container tabcontent">


        <a class="prev w3-button w3-hover-light-green">&#10094;</a>
        <!--        <a class="prev w3-hover-light-green" onclick="plusSlides(-1, 'partner')">&#10094;</a>-->
        <a class="next w3-button w3-hover-light-green">&#10095;</a>
        <!--        <a class="next w3-hover-light-green" onclick="plusSlides(1, 'partner')">&#10095;</a>-->

        <div class="slide-content">
            <ul class="carousel">
                {% for foo in partners %}
                    <li><img src="{{ foo.image.url }}" style="width: 100%"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="test1" class="slideshow-container tabcontent">


        <a class="prev w3-hover-light-green">&#10094;</a>
        <a class="next w3-hover-light-green">&#10095;</a>

        <div class="slide-content">
            <ul class="carousel">
                {% for foo in chlens %}
                    <li><img src="{{ foo.image.url }}" style="width: 100%"></li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>


